.button {
    -fx-background-color: #dcdcdc;
    background-color: #dcdcdc ;
}

.button:hover {
    
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    
}

.scroll-bar:vertical .track {
    -fx-background-color :transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
    background-color: transparent;
    border-color: transparent;
    border-radius: 2.0em;
}

.scroll-bar:vertical .increment-button, 
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-pading: 0.0 10.0 0.0 0.0;
    background-color: transparent;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape : "";
    -fx-padding: 0.0 0.15em;
    padding: 0.0 0.15em;
}

.scroll-bar:vertical .thumb{
    -fx-background-color:derive(#4D4C4F,10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
    background-color:derive(#4D4C4F,10.0%);
}

.scroll-bar:vertical .thumb:hover{
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
    background-color :derive(#4D4C4F,10.0%);
}

#hbox-custom {
    -fx-background-radius: 10 10 0 0;
}


.scroll-pane {
    -fx-background-color: transparent;
    background-color: transparent;
}
